resources/data/w001559_v02_XFZB/cargo_data-v2.xsd

<?xml version="1.0" encoding="UTF-8"?><!--SOA repository reference: W001559-v2.0.0--><!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.1, Build 201410130840 --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="iata:housewaybill:1" xmlns:xsd2="http://www.af-klm.com/services/cargo/types-v1/xsd" xmlns:tns="http://www.af-klm.com/services/cargo/data-v2/xsd" targetNamespace="http://www.af-klm.com/services/cargo/data-v2/xsd" version="2.0">


  <!-- xsd imports-->
  <!--previous value HouseWaybill_1.xsd updated--><xsd:import namespace="iata:housewaybill:1" schemaLocation="HouseWaybill_1.xsd"/>
  <!--previous value cargo_types-v1.xsd updated--><xsd:import namespace="http://www.af-klm.com/services/cargo/types-v1/xsd" schemaLocation="cargo_types-v1.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="CargoHouseWaybillTypeElement" type="tns:CargoHouseWaybillType"/>
  <xsd:element name="OriginalMessageTypeElement" type="tns:OriginalMessageType"/>

  <!-- types declarations -->
  <xsd:complexType name="CargoHouseWaybillType">
    <xsd:sequence>
      <xsd:element name="houseWaybill" type="xsd1:HouseWaybillType"/>
      <xsd:element name="state" type="xsd2:state_type"/>
      <xsd:element minOccurs="0" name="originalMessage" type="tns:OriginalMessageType"/>
 	  <xsd:element name="senderRole" type="xsd2:senderRole_Type"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OriginalMessageType">
    <xsd:sequence>
      <xsd:element name="type" type="xsd2:originalMessageType_type"/>
      <xsd:element minOccurs="0" name="dump" type="xsd:base64Binary"/>
      <xsd:element minOccurs="0" name="text" type="xsd2:originalMessageText_type"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(model.dataV1.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>