resources/data/w001559_v02_XFZB/cargo_types-v1.xsd

<?xml version="1.0" encoding="UTF-8"?><!--SOA repository reference: W001559-v2.0.0--><!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.1, Build 201509040834 --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.af-klm.com/services/cargo/types-v1/xsd" targetNamespace="http://www.af-klm.com/services/cargo/types-v1/xsd" version="1.0">


  <!-- xsd imports-->
	
  <!-- elements declarations -->

  <!-- types declarations -->
  <xsd:simpleType name="originalMessageType_type">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="100"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="originalMessageText_type">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3000"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="state_type">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="100"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="senderRole_Type">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="100"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(model.typesV1.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>