resources/data/w001928_v02_XFWB/cargo_data-v1.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Uploaded in SOA repository on 2018-05-18 11:14:56.328--><!--SOA repository reference: W001928-v2.0.0--><!-- generated by com.afklm.dinb.mdd.ws.uml2wsdl version 3.0.1, Build 201509040834 --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.af-klm.com/services/cargo/data-v1/xsd" xmlns:xsd2="http://www.af-klm.com/services/cargo/types-v1/xsd" xmlns:xsd1="iata:waybill:1" targetNamespace="http://www.af-klm.com/services/cargo/data-v1/xsd" version="1.0">


  <!-- xsd imports-->
  <!--previous value Waybill_1.xsd updated--><xsd:import namespace="iata:waybill:1" schemaLocation="Waybill_1.xsd"/>
  <!--previous value cargo_types-v1.xsd updated--><xsd:import namespace="http://www.af-klm.com/services/cargo/types-v1/xsd" schemaLocation="cargo_types-v1.xsd"/>
	
  <!-- elements declarations -->
  <xsd:element name="CargoWaybillTypeElement" type="tns:CargoWaybillType"/>
  <xsd:element name="OriginalMessageElement" type="tns:OriginalMessage"/>
  <xsd:element name="SegmentElement" type="tns:Segment"/>
  <xsd:element name="OperationalFlightElement" type="tns:OperationalFlight"/>
  <xsd:element name="OriginElement" type="tns:Origin"/>

  <!-- types declarations -->
  <xsd:complexType name="CargoWaybillType">
    <xsd:sequence>
      <xsd:element ref="xsd1:Waybill"/>
      <xsd:element name="originalMessage" type="tns:OriginalMessage"/>
      <xsd:element name="state" type="xsd2:state_type"/>
	  <xsd:element name="senderRole" type="xsd2:senderRole_Type"/>
      <xsd:element minOccurs="0" name="actualSegment" type="tns:Segment"/>
      <xsd:element maxOccurs="10" minOccurs="0" name="operationalFlight" type="tns:OperationalFlight"/>
      <xsd:element minOccurs="0" name="origin" type="tns:Origin"/>
      <xsd:element minOccurs="0" name="finalDestination" type="tns:Origin"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OriginalMessage">
    <xsd:sequence>
      <xsd:element name="type" type="xsd2:messageType_type"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Segment">
    <xsd:sequence>
      <xsd:element name="carrierCode" type="xsd2:carrierCode_type"/>
      <xsd:element name="flightNumber" type="xsd2:flightNumber_type"/>
      <xsd:element name="departureStation" type="xsd2:stationCode_type"/>
      <xsd:element minOccurs="0" name="departureCountry" type="xsd2:countryCode_type"/>
      <xsd:element name="arrivalStation" type="xsd2:stationCode_type"/>
      <xsd:element minOccurs="0" name="arrivalCountry" type="xsd2:countryCode_type"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OperationalFlight">
    <xsd:sequence>
      <xsd:element name="carrierCode" type="xsd2:carrierCode_type"/>
      <xsd:element name="flightNumber" type="xsd2:flightNumber_type"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Origin">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="country" type="xsd2:countryCode_type"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- custom types declarations -->
  <!--PROTECTED REGION ID(rootElement.dataV1.0) ENABLED START-->
	<!-- include your own xsd types here -->
  <!--PROTECTED REGION END-->
</xsd:schema>